SLACK_WEBHOOK=
TARGET_URL=
ZUZUGO_API_SECRET=
MONGODB_URI=mongodb://localhost:27017/zuzugo-dev
INNGEST_EVENT_KEY=zuzugo-inngest-event-key
DATABASE_URL=postgres://localhost:5432/zuzugo-dev?schema=public
ZUZUGO_NEW_NOTIFICATION=false