# Slack related envs
SLACK_WEBHOOK=
SLACK_APP_TOKEN=
# enable socket mode for dev
ENABLE_SOCKET_MODE_FOR_DEV=false
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=

TARGET_URL=
ZUZUGO_API_SECRET=
MONGODB_URI=mongodb://localhost:27017/zuzugo-dev
INNGEST_EVENT_KEY=zuzugo-inngest-event-key
DATABASE_URL=postgres://localhost:5432/zuzugo-dev?schema=public

# You should generate a new one with `openssl rand -base64 32`
# this value is only for dev
NEXTAUTH_SECRET=jrR2ua6rtafb092R7wLDA55iX+TezDuMfZdue3jUcx8=
# We don't need this in production
NEXTAUTH_URL=http://localhost:3000